html,
body {
    height: 100%;
    margin: 0;
    padding: 0
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html * {
    font-family: Montserrat;
}

h2 {
    margin-bottom: 5px;
    font-size: 20px;
}

#mainContainer {
    border-style: dotted;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 30px;
    min-height: 250px;
    background-color: rgba(255, 255, 255, 0.8);
    /* background-color: #ffffff85; */
    width: 800px;
    padding: 20px;
}

#intro_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 70%;
    position: relative;
    background: #eee2e282;
    font-size: 27px;
    border: 4px solid black;
    box-shadow: 3px 2px 0px 0px #b5224d;
}

#go_back_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 70%;
    position: relative;
    background: #eee2e282;
    font-size: 27px;
    border: 4px solid black;
    box-shadow: 3px 2px 0px 0px #b5224d;
}


#title {
    margin-top: 0;
    padding-top: 24px;
    font-family: Great Vibes;
}

#header {
    font-family: Great Vibes;
}

/* Lights menus */

#info {
    left: 18px;
    top: 29px;
}

#info circle {
    fill: hotPink;
    fill: #FD79BE;
}

#info:hover circle,
#info.activate circle {
    fill: deepPink;
    fill: #FF70FF;
}

#info:hover,
#info.activate {
    /*Offset X and Y set to 0 to have the shadow around the whold SVG object*/
    -webkit-filter: drop-shadow(0px 0px 7px #FF70FF);
    filter: drop-shadow(0px 0px 7px #FF70FF);
}

#costume {
    left: 138px;
    top: 36px;
}

#costume circle {
    fill: deepskyblue;
    fill: #00BCFF;
}

#costume:hover circle,
#costume.activate circle {
    fill: #00DDFF
}

#costume:hover,
#costume.activate {
    /*Offset X and Y set to 0 to have the shadow around the whold SVG object*/
    -webkit-filter: drop-shadow(0px 0px 7px #00DDFF);
    filter: drop-shadow(0px 0px 7px #00DDFF);
}

#fun {
    left: 262px;
    top: 39px;
    font-family: serif !important;
}

#fun circle {
    fill: mediumSeaGreen;
}

#fun:hover circle,
#fun.activate circle {
    fill: limeGreen;
}

#fun:hover,
#fun.activate {
    /*Offset X and Y set to 0 to have the shadow around the whold SVG object*/
    -webkit-filter: drop-shadow(0px 0px 7px limeGreen);
    filter: drop-shadow(0px 0px 7px limeGreen);
}

#fun .descriptionCls {
    font-family: monospace;
}

#photo {
    left: 346px;
    top: 31px;
}

#photo circle {
    /* fill: red; */
    fill: #E1001B;
}

#photo:hover circle,
#photo.activate circle {
    fill: red;
}

#photo:hover,
#photo.activate {
    /*Offset X and Y set to 0 to have the shadow around the whold SVG object*/
    -webkit-filter: drop-shadow(0px 0px 7px red);
    filter: drop-shadow(0px 0px 7px red);
}

#contact {
    left: 427px;
    top: 12px;
}

#contact circle {
    fill: #F9D14C;
}

#contact:hover circle,
#contact.activate circle {
    fill: #FFE800;
}

#contact:hover,
#contact.activate {
    /*Offset X and Y set to 0 to have the shadow around the whold SVG object*/
    -webkit-filter: drop-shadow(0px 0px 7px #FFE800);
    filter: drop-shadow(0px 0px 7px #FFE800);
}

.language {
    cursor: pointer;
}

.language .language_description {
    visibility: hidden;
}

.language:hover .language_description {
    visibility: visible;
    display: flex;
    flex-direction: column;
}


.lightsCls {
    cursor: pointer;
    /* display:flex; */
}

.lightsCls .descriptionCls {
    visibility: hidden;
}

/* .lightsCls:hover .descriptionCls, .lightsCls.activate .descriptionCls{ */
.lightsCls:hover .descriptionCls {
    visibility: visible;
    font-size: 15px;
}

/* @media only screen and (max-width: 600px) { */
/*     .lightsCls .descriptionCls { */
/*         visibility: visible; */
/*         color: red; */
/*     } */
/* } */


.innerShadow {
    -webkit-box-shadow: inset 10px 10px 24px 0px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: inset 10px 10px 24px 0px rgba(0, 0, 0, 0.47);
    box-shadow: inset 10px 10px 24px 0px rgba(0, 0, 0, 0.47);
}

.picFolder:hover,
.picFolderActive {
    background-color: rgba(255, 179, 183, 0.59);
}

.picFolder {
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.downloadPic {
    margin: 10px;
    padding: 20px;
    cursor: pointer;
    font-size: 14px;
    color: #bd229d;
}