html,body{height: 100%; margin: 0; padding: 0}

#intro_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 70%;
    position: relative;
    background: #eee2e282;
    font-size: 54px;
    border: 8px solid black;
    box-shadow: 3px 4px 0px 0px #b5224d;
    }

#go_back_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 70%;
    position: relative;
    background: #eee2e282;
    font-size: 54px;
    border: 8px solid black;
    box-shadow: 3px 4px 0px 0px #b5224d;
    }


#title {
    margin-top: 0;
    padding-top: 48px;
}

#costume {
    left: 277px;
    top: 73px;
}

#costume circle{
fill: deepskyblue;
}

#costume:hover circle {
fill: yellowGreen
}

#costume:hover {
/*Offset X and Y set to 0 to have the shadow around the whold SVG object*/
-webkit-filter: drop-shadow(0px 0px 7px deepskyblue); 
filter: drop-shadow(0px 0px 7px deepskyblue);
}

#photo {
    left: 36px;
    top: 57px;
}

#photo circle{
fill: tomato;
}

#photo:hover circle {
fill: orange
}

#photo:hover {
/*Offset X and Y set to 0 to have the shadow around the whold SVG object*/
-webkit-filter: drop-shadow(0px 0px 7px tomato); 
filter: drop-shadow(0px 0px 7px tomato);
}

#contact {
    top: 78px;
    left: 524px;
}

#contact circle{
fill: gold;
}

#contact:hover circle {
fill: deepskyblue
}

#contact:hover {
/*Offset X and Y set to 0 to have the shadow around the whold SVG object*/
-webkit-filter: drop-shadow(0px 0px 7px tomato); 
filter: drop-shadow(0px 0px 7px tomato);
}


#info {
    top: 30px;
    left: 861px;
}

#info circle{
fill: hotPink;
}

#info:hover circle {
fill: lightSeaGreen
}

#info:hover {
/*Offset X and Y set to 0 to have the shadow around the whold SVG object*/
-webkit-filter: drop-shadow(0px 0px 7px indigo); 
filter: drop-shadow(0px 0px 7px indigo);
}


#fun {
    top: 57px;
    left: 693px;
}

#fun circle{
fill: mediumSeaGreen;
}

#fun:hover circle {
fill: orange
}

#fun:hover {
/*Offset X and Y set to 0 to have the shadow around the whold SVG object*/
-webkit-filter: drop-shadow(0px 0px 7px orange); 
filter: drop-shadow(0px 0px 7px orange);
}



.lightsCls {
/* display:flex; */
}

.lightsCls .descriptionCls {
    visibility:hidden;

}

.lightsCls:hover .descriptionCls {
    visibility:visible;

}

.innerShadow{
    -webkit-box-shadow: inset 10px 10px 24px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: inset 10px 10px 24px 0px rgba(0,0,0,0.47);
    box-shadow: inset 10px 10px 24px 0px rgba(0,0,0,0.47);
}
