html,body{height: 100%; margin: 0; padding: 0}

*, *:before, *:after {
  box-sizing: border-box;
}

html *{
    font-family: Montserrat;
}

#mainContainer {
    border-style: dotted;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 30px;
    min-height: 250px;
    background-color: rgba(255, 255, 255, 0.8);
    /* background-color: #ffffff85; */
    width: 800px;
    padding: 20px;
}
#intro_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 70%;
    position: relative;
    background: #eee2e282;
    font-size: 27px;
    border: 4px solid black;
    box-shadow: 3px 2px 0px 0px #b5224d;
    }

#go_back_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 70%;
    position: relative;
    background: #eee2e282;
    font-size: 27px;
    border: 4px solid black;
    box-shadow: 3px 2px 0px 0px #b5224d;
    }


#title {
    margin-top: 0;
    padding-top: 24px;
    font-family: Great Vibes;
}

#countDown {
    font-family: Great Vibes;
}

#costume {
    left: 138px;
    top: 36px;
}

#costume circle{
fill: deepskyblue;
}

#costume:hover circle {
fill: yellowGreen
}

#costume:hover {
/*Offset X and Y set to 0 to have the shadow around the whold SVG object*/
-webkit-filter: drop-shadow(0px 0px 7px deepskyblue); 
filter: drop-shadow(0px 0px 7px deepskyblue);
}

#costume .svgCls {
    width: 25px;
    height: 25px;
}



#photo {
    left: 346px;
    top: 29px;
}

#photo circle{
fill: tomato;
}

#photo:hover circle {
fill: darkOrchid
}

#photo:hover {
/*Offset X and Y set to 0 to have the shadow around the whold SVG object*/
-webkit-filter: drop-shadow(0px 0px 7px tomato); 
filter: drop-shadow(0px 0px 7px tomato);
}

#contact {
    left: 430px;
    top: 14px;
}

#contact circle{
fill: #ffcc00;
}

#contact:hover circle {
fill: deepskyblue
}

#contact:hover {
/*Offset X and Y set to 0 to have the shadow around the whold SVG object*/
-webkit-filter: drop-shadow(0px 0px 7px tomato); 
filter: drop-shadow(0px 0px 7px tomato);
}


#info {
    left: 18px;
    top: 29px;
}

#info circle{
fill: hotPink;
}

#info:hover circle {
fill: lightSeaGreen
}

#info:hover {
/*Offset X and Y set to 0 to have the shadow around the whold SVG object*/
-webkit-filter: drop-shadow(0px 0px 7px indigo); 
filter: drop-shadow(0px 0px 7px indigo);
}

#info .svgCls {
    width: 25px;
    height: 25px;
}



#fun {
    left: 262px;
    top: 39px;
    font-family: serif !important;
}

#fun circle{
fill: mediumSeaGreen;
}

#fun:hover circle {
fill: orange
}

#fun:hover {
/*Offset X and Y set to 0 to have the shadow around the whold SVG object*/
-webkit-filter: drop-shadow(0px 0px 7px orange); 
filter: drop-shadow(0px 0px 7px orange);
}

#fun .descriptionCls {
font-family: monospace;
}

/* #fun .svgCls { */
/*     width: 60px; */
/*     height: 60px; */
/* } */


.lightsCls {
    cursor: pointer;
/* display:flex; */
}

.lightsCls .descriptionCls {
    visibility: hidden;
    /* font-family: Great Vibes; */
    /* font-family: Source Sans Pro; */
    /* font-weight: bold; */
}

.lightsCls:hover .descriptionCls {
    visibility:visible;
    font-size: 15px;
}

/* @media only screen and (max-width: 600px) { */
/*     .lightsCls .descriptionCls { */
/*         visibility: visible; */
/*         color: red; */
/*     } */
/* } */


.innerShadow{
    -webkit-box-shadow: inset 10px 10px 24px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: inset 10px 10px 24px 0px rgba(0,0,0,0.47);
    box-shadow: inset 10px 10px 24px 0px rgba(0,0,0,0.47);
}
